@use '../../sass/utilities' as *;
@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;
@use '../../sass/animations' as *;

.contact {
    padding: $desktopPading;
    overflow: hidden;

    @include breakpoint-down (mobile) {
        padding: $mobilePading;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    &__container {
        position: relative;
        background-color: $orangebg;
        border-radius: 1rem;
        display: flex;
        gap: 2rem;
        padding: 5rem 6rem;
        overflow: hidden;

        @include breakpoint-down (mobile) {
            flex-direction: column;
            padding: 4rem 3rem;
        }

        img {
            position: absolute;
            top: -9rem;
            left: 1rem;

            @include breakpoint-down (mobile) {
                top: -5rem;
                left: -5rem;
                z-index: -1;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;

            h3,
            p {
                color: white;
            }

            h3 {
                font-size: 3rem;
                font-weight: 500;
            }

            p {
                line-height: 1.625;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            width: 100%;

            &__input {
                display: flex;
                position: relative;

                input,
                textarea {
                    padding: 0 0 1rem 1rem;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid white;
                    outline: none;
                    caret-color: white;
                    color: white;
                    width: 100%;

                    &::-webkit-input-placeholder {
                        color: white;
                        opacity: 0.8;
                        font-size: 1rem;
                    }

                    &:focus {
                        border-bottom: 2.5px solid white;
                    }
                }

                .error {
                    position: absolute;
                    right: 0;
                    color: white;
                    font-size: .75rem;
                    font-style: italic;
                }

                .shake {
                    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
                }

                textarea {
                    resize: none;
                }
            }

            &__button {
                display: flex;
                align-self: flex-end;

                button {
                    background-color: white;
                    @extend %button-shared;
                    border: none;
                    color: black;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        background-color: $orangehover;
                        color: white;
                    }
                }
            }
        }
    }

    .locations {
        display: flex;
        justify-content: space-between;
        padding: 5rem 0;
        max-width: 100%;
        position: relative;

        @include breakpoint-down (mobile) {
            flex-direction: column;
            gap: 3rem;
            padding: 2rem 0;
        }

        .leaf {
            position: absolute;
            right: -25rem;
            bottom: -13rem;

            @include breakpoint-down (mobile) {
                display: none;
            }
        }

        &__item {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            position: relative;

            img {
                max-width: 100%;
            }

            .circle {
                position: absolute;
            }

            &__title {
                font-weight: 500;
                line-height: 1.5;
            }

            button {
                @extend %button-shared;
                border: none;
                background-color: $designhdr;
                color: white;
                font-weight: 700;

                &:hover {
                    background-color: $orangehover;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }
}