@use '../../sass/utilities' as *;
@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.getInTouch {
    background-color: $orangebg;
    border-radius: 1rem;
    padding: 5rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 20%;
    right: 20%;
    transform: translateY(-80%);

    @include breakpoint-down (mobile) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 3rem;
        left: 0;
        right: 0;
        gap: 1rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 2rem;

        h3 {
            font-size: 2.5rem;
            line-height: 2.5rem;
            font-weight: 500;
            max-inline-size: 16ch;

            @include breakpoint-down (mobile) {
                text-align: center;
            }
        }

        p {
            text-align: left;
            max-inline-size: 52ch;
            letter-spacing: .031rem;
            
            @include breakpoint-down (mobile) {
                text-align: center;
            }
        }
    }

    button {
        background-color: white;
        @extend %button-shared;
        color: black;
        border: none;

        &:hover {
            background-color: $orangehover;
            color: white;
        }
    }
}