<div class="locations">
    <section class="box">
        <div class="item">
            <h3>Canada</h3>
            <div class="item__content">
                <div class="item__content__site">
                    <h4>Designo Central Office</h4>
                    <p class="description">3886 Wellington Street</p>
                    <p class="description">Toronto, Ontario M9C 3J5</p>
                </div>
                <div class="item__content__contact">
                    <h4>Contact</h4>
                    <p>P : +1 253-863-8967</p>
                    <p>M : contact&#64;designo.co</p>
                </div>
            </div>
        </div>
        <div id="map-canada" class="map"></div>
    </section>
    <section class="box">
        <div class="item">
            <h3>Australia</h3>
            <div class="item__content">
                <div class="item__content__site">
                    <h4>Designo AU Office</h4>
                    <p class="description">19 Balonne Street</p>
                    <p class="description">New South Wales 2443</p>
                </div>
                <div class="item__content__site">
                    <h4>Contact</h4>
                    <p>P : (02) 6720 9092</p>
                    <p>M : contact&#64;designo.au</p>
                </div>
            </div>
        </div>
        <div id="map-australia" class="map"></div>
    </section>
    <section class="box">
        <div class="item">
            <h3>United Kingdom</h3>
            <div class="item__content">
                <div class="item__content__site">
                    <h4>Designo UK Office</h4>
                    <p class="description">13 Colorado Way</p>
                    <p class="description">Rhyd-y-fro SA8 9GA</p>
                </div>
                <div class="item__content__site">
                    <h4>Contact</h4>
                    <p>P : 078 3115 1400</p>
                    <p>M : contact&#64;designo.uk</p>
                </div>
            </div>
        </div>
        <div id="map-uk" class="map"></div>
    </section>
</div>
<app-touch></app-touch>